@use '@/style/utils/mixins.scss' as *;

.themeCta {
  @include btn;

  padding: var(--sp-1);

  @include highlight-cta;

  .icon {
    flex: 0 0 auto;
    transition: var(--tr);
    width: var(--sp-5);
    height: var(--sp-5);
  }

  .iconRays {
    fill: var(--c-theme-btn-rays);
    transform-origin: center;
    transform: rotate(0deg);
    transition: var(--tr);
  }

  .iconMoon {
    fill: var(--c-theme-btn-moon);
    transition: var(--tr);
  }

  .iconShadow {
    fill: var(--c-theme-btn-shadow);
    transform-origin: center;
    transition: var(--tr);
  }

  .iconCenter {
    fill: var(--c-theme-btn-center);
    transition: var(--tr);
  }
}

[data-theme='dark'] {
  .iconRays {
    transform: rotate(90deg);
  }

  .iconShadow {
    transform: translateX(0) scale(1);
  }
}

[data-theme='light'] .iconShadow {
  transform: translateX(-3.5rem) scale(1.2);
}

@media (prefers-color-scheme: light) {
  .iconShadow {
    transform: translateX(-3.5rem) scale(1.2);
  }
}
