@use "@/style/utils/mixins.scss" as *;

@mixin themeToggleDarkStyles() {
  &__rays {
    transform: rotate(0deg);
    fill: var(--c-theme-btn-rays);
  }

  &__darkBg {
    fill: transparent;
    transform: scale(0.5);
  }

  &__shadow {
    transform: translateX(2rem);
  }
}

@mixin themeToggleLightStyles() {
  &__moon {
    fill: var(--c-theme-btn-moon);
  }

  &__rays {
    fill: transparent;
    transform: rotate(180deg);
    transform-origin: center;
  }

  &__darkBg {
    fill: var(--c-theme-btn-dark-bg);
    transform-origin: center;
    transform: scale(1);
  }

  &__shadow {
    fill: var(--c-theme-btn-shadow);
    transform: translateX(0);
  }
}

.themeCta {
  @include btn();

  @include highlightCta();

  .icon {
    flex: 0 0 auto;
    width: var(--sp-5);
    height: var(--sp-5);

    @include themeToggleLightStyles();

    @media (prefers-color-scheme: light) {
      @include themeToggleLightStyles();
    }

    @media (prefers-color-scheme: dark) {
      @include themeToggleDarkStyles();
    }
  }
}

[data-theme="dark"] .themeCta .icon {
  @include themeToggleDarkStyles();
}

[data-theme="light"] .themeCta .icon {
  @include themeToggleLightStyles();
}
