@use "@/style/utils/mixins.scss" as *;

.themeCta {
  @include btn();
  padding: var(--sp-1);
  @include highlightCta();

  .icon {
    flex: 0 0 auto;
    transition: var(--tr);

    &__rays {
      fill: var(--c-theme-btn-rays);
      transform-origin: center;
      transform: rotate(0deg);
      transition: var(--tr);
    }

    &__moon {
      fill: var(--c-theme-btn-moon);
      transition: var(--tr);
    }

    &__shadow {
      fill: var(--c-theme-btn-shadow);
      transform-origin: center;
      transition: var(--tr);
    }

    &__center {
      fill: var(--c-theme-btn-center);
      transition: var(--tr);
    }
  }
}

[data-theme="dark"] .themeCta .icon {
  &__rays {
    transform: rotate(90deg);
  }
  &__shadow {
    transform: translateX(0) scale(1);
  }
}

[data-theme="light"] .themeCta .icon__shadow {
  transform: translateX(-3.5rem) scale(1.2);
}

@media (prefers-color-scheme: light) {
  .themeCta .icon__shadow {
    transform: translateX(-3.5rem) scale(1.2);
  }
}
