@use '@/style/utils/variables' as *;
@use '@/style/utils/mixins' as *;

.page {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: var(--fw-bold);
  transform: translateY(100%);
}

.subtitle {
  color: var(--c-text-tertiary);
  font-weight: var(--fw-normal);
  transform: translateY(100%);
}

.section {
  width: 100%;
  padding: var(--sp-9) 0;

  &:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
  }

  &:nth-child(even) {
    .row {
      @include mq(md) {
        flex-direction: row-reverse;
      }
    }

    .sectionTitle {
      @include mq(md) {
        text-align: left;
      }
    }

    .sectionDescription {
      @include mq(md) {
        text-align: right;
      }
    }

    .sectionTitle:global(.scrollObserved) {
      transform: translateX(-100%);

      @include mq(md) {
        transform: translateX(100%);
      }

      &:global(.onScreen) {
        transform: translateX(0%);
      }
    }

    .sectionDescription:global(.scrollObserved) {
      transform: translateX(100%);

      @include mq(md) {
        transform: translateX(-100%);
      }

      &:global(.onScreen) {
        transform: translateX(0%);
      }
    }
  }

  &:nth-child(odd) {
    .sectionTitle {
      @include mq(md) {
        text-align: right;
      }
    }

    .sectionDescription {
      @include mq(md) {
        text-align: left;
      }
    }

    .sectionTitle:global(.scrollObserved) {
      transform: translateX(100%);

      @include mq(md) {
        transform: translateX(-100%);
      }
    }

    .sectionDescription:global(.scrollObserved) {
      transform: translateX(-100%);

      @include mq(md) {
        transform: translateX(100%);
      }
    }
  }
}

.sectionTitle {
  margin-bottom: var(--sp-3);

  @include mq(md) {
    margin-bottom: var(--sp-0);
  }
}

.sectionTitle:global(.onScreen),
.sectionDescription:global(.onScreen) {
  transform: translateX(0%) !important;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp-6);
  width: 100%;

  @include mq(md) {
    flex-direction: row;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include mq(md) {
    width: calc(50% - (var(--sp-8) / 2));
  }
}
