// === Colors ===
$c-white: #ffffff;
$c-lighter: #e0e6eb;
$c-light: #c2cfd6;
$c-medium: #668899;
$c-dark: #3d525c;
$c-darker: #29363d;
$c-black: #000000;
$c-action: #f58020;
$c-accent: #99dbf6;
// Utils
$c-green-dark: #005f30;
$c-green-light: #00ad57;
$c-red-dark: #a32929;
$c-red-light: #ff6161;

// Theme
$color-themes: (
  "success": (
    dark: $c-green-light,
    light: $c-green-dark,
  ),
  "error": (
    dark: $c-red-light,
    light: $c-red-dark,
  ),
  "page-bg": (
    dark: $c-darker,
    light: $c-lighter,
  ),
  "text": (
    dark: $c-lighter,
    light: $c-darker,
  ),
  "text-negative": (
    dark: $c-darker,
    light: $c-lighter,
  ),
  "btn": (
    dark: $c-lighter,
    light: $c-darker,
  ),
  "btn-bg": (
    dark: $c-dark,
    light: $c-light,
  ),
  "btn-focus": (
    dark: $c-action,
    light: $c-action,
  ),
  "dropdown-bg": (
    dark: $c-dark,
    light: $c-white,
  ),
  "theme-btn-rays": (
    dark: $c-lighter,
    light: $c-darker,
  ),
  "theme-btn-dark-bg": (
    dark: $c-lighter,
    light: $c-darker,
  ),
  "theme-btn-shadow": (
    dark: $c-lighter,
    light: $c-darker,
  ),
  "theme-btn-moon": (
    dark: $c-dark,
    light: $c-lighter,
  ),
);
