@use 'SASS:list';
@use 'SASS:map';
@use 'SASS:meta';

// === Colors ===
$c-white: #ffffff;
$c-primary-100: #e0e6eb;
$c-primary-300: #c2cfd6;
$c-primary-400: #82a2ab;
$c-primary-500: #668899;
$c-primary-600: #506877;
$c-primary-700: #3d525c;
$c-primary-900: #29363d;
$c-black: #000000;
$c-action: #f58020;
$c-accent: #99dbf6;

// Utils
$c-green-dark: #005f30;
$c-green-light: #00ad57;
$c-red-dark: #a32929;
$c-red-light: #ff6161;

// Theme
$color-themes: (
  'success': (
    light: $c-green-dark,
    dark: $c-green-light,
  ),
  'error': (
    light: $c-red-dark,
    dark: $c-red-light,
  ),
  'page-bg': (
    light: $c-primary-100,
    dark: $c-primary-900,
  ),
  'mouse-tracker': (
    light: $c-primary-300,
    dark: $c-primary-700,
  ),
  'text': (
    light: $c-primary-900,
    dark: $c-primary-100,
  ),
  'text-secondary': (
    light: $c-primary-700,
    dark: $c-primary-300,
  ),
  'text-tertiary': (
    light: $c-primary-600,
    dark: $c-primary-400,
  ),
  'btn': (
    light: $c-primary-900,
    dark: $c-primary-100,
  ),
  'btn-bg': (
    light: $c-primary-300,
    dark: $c-primary-700,
  ),
  'btn-focus': (
    light: $c-action,
    dark: $c-action,
  ),
  'dropdown-bg': (
    light: $c-white,
    dark: $c-primary-700,
  ),
  'theme-btn-rays': (
    light: transparent,
    dark: $c-primary-100,
  ),
  'theme-btn-moon': (
    light: $c-primary-900,
    dark: transparent,
  ),
  'theme-btn-center': (
    light: transparent,
    dark: $c-primary-100,
  ),
  'theme-btn-shadow': (
    light: $c-primary-300,
    dark: $c-primary-700,
  ),
  'photo-br': (
    light: $c-primary-300,
    dark: $c-primary-700,
  ),
  'photo-bg': (
    light: $c-primary-100,
    dark: $c-primary-900,
  ),
  'title-underline': (
    light: $c-primary-300,
    dark: $c-accent,
  ),
  'timeline': (
    light: $c-primary-400,
    dark: $c-primary-500,
  ),
  'card-br': (
    light: $c-primary-300,
    dark: $c-primary-700,
  ),
  'card-br-hover': (
    light: $c-action,
    dark: $c-action,
  ),
  'tag-bg': (
    light: $c-primary-300,
    dark: $c-primary-700,
  ),
);

// === Color theme ===
@mixin set-color-data($theme-name, $key) {
  color-scheme: #{$theme-name};

  @each $color-name, $color-values in $color-themes {
    --#{$key}-#{$color-name}: #{map.get($color-values, $theme-name)};
  }
}

@mixin set-colors-variables($key) {
  $first-color-name: list.nth(map.keys($color-themes), 1);
  $first-color-value: map.get($color-themes, $first-color-name);

  @if meta.type-of($first-color-value) == 'map' {
    $theme-list: map.keys($first-color-value);
    $first-theme: list.nth($theme-list, 1);

    @each $theme-name in $theme-list {
      @if $theme-name == $first-theme {
        :root,
        [data-theme='#{$theme-name}']:root {
          @include set-color-data($theme-name, $key);
        }

        @media print {
          html[data-theme]:root {
            @include set-color-data($theme-name, $key);
          }
        }
      } @else {
        [data-theme='#{$theme-name}']:root {
          @include set-color-data($theme-name, $key);
        }

        @media (prefers-color-scheme: #{$theme-name}) {
          :root {
            @include set-color-data($theme-name, $key);
          }
        }
      }
    }
  } @else {
    :root {
      color-scheme: 'default';

      @each $color-name, $color-values in $color-themes {
        --#{$key}-#{$color-name}: #{$color-values};
      }
    }
  }
}
