@use "./variables" as *;
@use "SASS:list";
@use "SASS:map";
@use "SASS:meta";

// === Variables ===
@mixin set-variables($key, $array) {
  :root {
    @each $name, $value in $array {
      @if $name == "default" {
        --#{$key}: #{$value};
      } @else {
        --#{$key}-#{$name}: #{$value};
      }
    }
  }
}

// === Color theme ===
@mixin set-color-data($theme-name, $key) {
  color-scheme: #{$theme-name};
  @each $color-name, $color-values in $color-themes {
    --#{$key}-#{$color-name}: #{map.get($color-values, $theme-name)};
  }
}

@mixin set-colors-variables($key) {
  $first-color-name: list.nth(map.keys($color-themes), 1);
  $first-color-value: map.get($color-themes, $first-color-name);

  @if meta.type-of($first-color-value) == "map" {
    $theme-list: map.keys($first-color-value);
    $first-theme: list.nth($theme-list, 1);

    @each $theme-name in $theme-list {
      @if $theme-name == $first-theme {
        :root,
        [data-theme="#{$theme-name}"]:root {
          @include set-color-data($theme-name, $key);
        }
      } @else {
        [data-theme="#{$theme-name}"]:root {
          @include set-color-data($theme-name, $key);
        }
        @media (prefers-color-scheme: #{$theme-name}) {
          :root {
            @include set-color-data($theme-name, $key);
          }
        }
      }
    }
  } @else {
    :root {
      color-scheme: "default";
      @each $color-name, $color-values in $color-themes {
        --#{$key}-#{$color-name}: #{$color-values};
      }
    }
  }
}

// === Title size ===
@mixin set-title-sizes() {
  @each $level, $config in $title-sizes {
    #{$level},
    .#{$level} {
      font-size: clamp(
        #{map.get($config, "min")},
        #{map.get($config, "ratio")},
        #{map.get($config, "max")}
      );
    }
  }
}

// === Media query ===
@mixin mq($breakpoint) {
  @if $breakpoint != "xs" {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// === Mask ===
@mixin base-mask() {
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

// === CTA ===
@mixin btn() {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-2);
  border: var(--br-transparent);
  border-radius: var(--rd-btn);
  transition: var(--tr);
  color: var(--c-text);
  background-color: var(--c-btn-bg);
}

$highlight-params: (
  radius: calc(var(--rd-btn) / 0.73),
  border: var(--br-btn-hover),
  inset: 0,
);
$inset-change: 0.3rem;

@mixin highlightCta($settings: ()) {
  $config: map.merge($highlight-params, $settings);
  $config: map.merge($highlight-params, $settings);
  $inset: map.get($config, inset) - $inset-change;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: map.get($config, inset);
    border-radius: map.get($config, radius);
    border: map.get($config, border);
    opacity: 0;
    transition: var(--tr);
  }

  @include mq(md) {
    &:hover {
      cursor: pointer;
      outline: none;

      &::after {
        opacity: 1;
        inset: $inset;
      }
    }
  }

  &:active,
  &:focus-visible {
    outline: none;

    &::after {
      opacity: 1;
      inset: $inset;
    }
  }
}
