@use 'SASS:map';

// === Spacers ===
@function generate-spacers($count, $step) {
  $map: ();

  // Négatif
  @for $i from $count through 1 {
    $key: 'n#{$i}';
    $value: -1 * $i * $step;
    $map: map.merge(
      $map,
      (
        $key: $value,
      )
    );
  }

  // Zéro
  $map: map.merge(
    $map,
    (
      'n05': -0.5 * $step,
      '0': 0rem,
      '05': 0.5 * $step,
    )
  );

  // Positif
  @for $i from 1 through $count {
    $key: '#{$i}';
    $value: $i * $step;
    $map: map.merge(
      $map,
      (
        $key: $value,
      )
    );
  }

  @return $map;
}

$spacers: generate-spacers(25, 0.4rem);
