@use "SASS:map";

@forward "./breakpoints";
@forward "./colors";
@forward "./spacing";
@forward "./typography";

// === Radius ===
$radius: (
  "default": var(--sp-2),
  "btn": var(--sp-2),
);

// === Transitions ===
$transitions: (
  "default": all 300ms ease-in-out,
);

// === Borders ===
$border-width: 0.1rem;
$border-style: "solid";
$borders: (
  "btn-hover": $border-width $border-style var(--c-btn-focus),
);

// === Shadows ===
$shadow-size: 1rem 0;
$shadow-position: 0 0;
$shadows: (
  "transparent": $shadow-position $shadow-size transparent,
  "default": $shadow-position $shadow-size rgba(#000000, 0.3),
);

// === Icons ===
$icons: ("github", "globe", "linkedin");
