@use '@/style/utils/mixins' as *;

.header {
  flex: 0 0 auto;

  @media print {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-4) 0;
}

.brand {
  margin: 0;
}

.logo {
  flex: 0 0 auto;
  width: var(--sp-7);
}

.subGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--sp-3);
}

.homeLink {
  @include highlight-cta(
    (
      inset: -0.4rem,
    )
  );
}

.homeBtn {
  @include btn;

  padding: var(--sp-1) var(--sp-2);
  gap: var(--sp-2);

  @include highlight-cta;
}
