@use '@/style/utils/mixins' as *;

.header {
  flex: 0 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-4) 0;
}

.brand {
  margin: 0;
}

.logo {
  flex: 0 0 auto;
  width: var(--sp-7);
  margin-right: var(--sp-3);
}

.subGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.homeLink {
  @include highlight-cta(
    (
      inset: -0.4rem,
    )
  );
}
