@use '@/style/utils/mixins' as *;

.content {
  display: grid;
  height: auto;
  padding: var(--sp-24) 0 var(--sp-6) 0;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: var(--sp-12);
  min-height: 100vh;
  min-height: 100svh;

  @include mq(md) {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
  }

  @media print {
    padding: 0;
    gap: var(--sp-8);
  }
}

.photoContainer {
  display: flex;
  justify-content: center;
  width: 16rem;
  height: 16rem;
  border: var(--br-photo);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--c-page-bg);
  border-radius: var(--rd-round);
  overflow: hidden;
  grid-column: 1;

  @media print {
    padding: 0;
  }
}

.photo {
  width: 100%;
  height: auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column: 1;
  overflow-x: hidden;

  @include mq(md) {
    grid-column: 2;
  }

  @media print {
    grid-column: 2;
  }
}

.title {
  margin: 0;
}

.subtitle {
  color: var(--c-text-tertiary);
}

.pageNavContainer {
  display: none;

  @include mq(md) {
    position: sticky;
    top: var(--sp-12);
    display: initial;
    align-self: start;
  }

  @media print {
    // display: none;
  }
}

.sectionContainer {
  grid-column: 1;

  @include mq(md) {
    grid-column: 2;
  }

  @media print {
    grid-column: 2;
    // grid-column: 1 / span 2;
  }
}
