@use '@/style/utils/mixins' as *;

.footer {
  margin-top: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-8) 0 var(--sp-4) 0;
}

.subContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  @include btn;

  margin-right: var(--sp-4);
  padding: var(--sp-1);

  @include highlight-cta;

  &:last-child {
    margin-right: 0;
  }
}
