@use "@/style/utils/mixins" as *;

.footer {
  margin-top: auto;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sp-8) 0 var(--sp-4) 0;
  }

  &__subContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    @include btn();
    margin-right: var(--sp-4);
    padding: var(--sp-1);
    @include highlightCta();

    &:last-child {
      margin-right: 0;
    }
  }
}
