@use "@/style/utils/mixins" as *;

.langCta {
  @include btn();
  margin-right: var(--sp-3);
  text-transform: uppercase;

  @include highlightCtaFocus();

  &[aria-expanded="true"]:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    display: block;
    border: 1rem solid transparent;
    border-bottom-color: var(--c-dropdown-bg);
  }

  &__icon {
    transition: var(--tr);
    margin: var(--sp-1);
  }

  &__list {
    padding: var(--sp-1) 0;
    background-color: var(--c-dropdown-bg);
    border-radius: var(--sp-1);
  }

  &__item {
    padding: var(--sp-2) var(--sp-3);
    text-transform: uppercase;

    @include highlightCtaFocus();
  }
}
