@use '@/style/utils/mixins' as *;

.langSwitch {
  @include btn;

  padding: var(--sp-0);
  border: var(--br-btn-switch);
  text-transform: uppercase;

  @include highlight-cta;

  &::before {
    content: '';
    position: absolute;
    display: block;
    inset: 0 50% 0 0;
    border-radius: var(--sp-2);
    background-color: var(--c-page-bg);
    transition: var(--tr);
  }

  &:global(.lang0)::before {
    transform: translateX(100%);
    border-radius: 0 var(--sp-2) var(--sp-2) 0;
  }

  &:global(.lang1)::before {
    border-radius: var(--sp-2) 0 0 var(--sp-2);
  }

  .lang {
    @include btn;

    padding: var(--sp-1) var(--sp-2);
    background-color: transparent;
  }
}
